.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    background-color: black;
    border: 1px solid black;
    height: 60%;
    width: 35%;
    position: relative;

}

.tile {
    background-color: white;
    transition: 0.2s ease-in-out;
    border: inherit;
    height: 25%;
    width: 25%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;

}


@media (max-width:600px) {
    .board {
        width: 90%;
        z-index: -1;
    }
}