.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.backgroundtext {
    color: rgba(0, 0, 0, 0.3);
}

.sidebar {
    position: absolute;
    left: -20%;
    top: 0px;
    height: 100%;
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: auto;
    transition: 0.4s ease;
}

.sidebaritem {
    width: 100%;
    height: 20%;
    border: 1px solid black;
}

.linktogames {
    text-decoration: none;
    color: black;
}

.linktogames:hover {
    text-decoration: underline;
}

.sidebutton {
    position: absolute;
    width: 20px;
    height: 100px;
    left: 0%;
    background-color: black;
    transition: 0.4s ease;
}

.sbaractive {
    left: 0%
}

.sbuttonactive {
    left: 20%
}


@media (max-width:600px) {


    .sidebar {
        width: 50%;
        left: -50%
    }

    .sbaractive {
        left: 0%
    }

    .sbuttonactive {
        left: 50%;
    }
}