.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.para {
    display: flex;
    flex-wrap: wrap;
    font-size: xx-large;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}